{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Liste des Parties - {{ parent() }}
{% endblock %}

{% block ll_body %}

    <div class="container">
        <div class="well">
            <h1>Party list :</h1><br>

            {% for party in list %}
            <li> <a href="">Partie numéro {{ party.id }} de {{ party.host }}</a></li>
            {% endfor %}

            <br><a class="btn btn-primary btn-lg" href="{{ path('LoveBundle_createParty') }}">Créer une partie</a>

        </div>
    </div>
      
      
{% endblock %}