{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Partie en cours - {{ parent() }}
{% endblock %}

{% block ll_body %}

    <div class="container">
        <div id="header"  class="jumbotron">
            <h1>Love Letter Online</h1>
            <p>
                Ce projet utilise Symfony,
                et construit Jonathan Shmitt (un peu) et Elliot This.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('LoveBundle_view',{'id': 1 }) }}">
                    Jouer !
                </a>
            </p>

            <div id="content" class="col-md-9">

            </div>
        </div>
        <hr>



        <footer style="color: white">
            <p>Pas de Copyrights © {{ 'now'|date('Y') }} .</p>
        </footer>
    </div>


{% endblock %}